{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}">
    <title>0621 SESSION </title>
</head>
<body>
    <img class="bg" src="{% static 'image/d.png' %}">
   <h1> Introduction </h1> 
   <div class="content">
       얼레벌레 오프라인 세션이지만 행복하다... <br>
       빨리 역할맥 가고 싶다... <br>
       맥주 마시고 싶다... <br>
       덥다...

   </div>

</body>
</html>